Kiosk/Service References/KiosksServices/duplexservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5050/duplexservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CriterionManufacturingSolutions.Products.KiosksSolution" />
  <xs:element name="GetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kiosksMacID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CriterionManufacturingSolutions.Products.KiosksSolution" minOccurs="0" name="GetConfigurationResult" nillable="true" type="q1:KiosksConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthlyRates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthlyRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CriterionManufacturingSolutions.Products.KiosksSolution" minOccurs="0" name="GetMonthlyRatesResult" nillable="true" type="q2:ArrayOfMonthlyRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBayReadyForStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BayID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBayReadyForStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBayReadyForStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBayReadyForRetrieval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BayID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBayReadyForRetrievalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBayReadyForRetrievalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CriterionManufacturingSolutions.Products.KiosksSolution" minOccurs="0" name="creditCard" nillable="true" type="q3:CreditCardDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidCreditCardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBayReadyForStoreCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bayStatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBayReadyForStoreCallbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBayReadyForStoreCallbackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBayReadyForRetrievalCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bayStatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBayReadyForRetrievalCallbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBayReadyForRetrievalCallbackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>