Kiosk/Service References/KiosksServices/duplexservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CriterionManufacturingSolutions.Products.KiosksSolution" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CriterionManufacturingSolutions.Products.KiosksSolution" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KiosksConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="BayID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunctionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KiosksMACId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KiosksConfiguration" nillable="true" type="tns:KiosksConfiguration" />
  <xs:complexType name="ArrayOfMonthlyRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonthlyRate" nillable="true" type="tns:MonthlyRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonthlyRate" nillable="true" type="tns:ArrayOfMonthlyRate" />
  <xs:complexType name="MonthlyRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonthlyRate" nillable="true" type="tns:MonthlyRate" />
  <xs:complexType name="CreditCardDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidTillDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCardDetails" nillable="true" type="tns:CreditCardDetails" />
</xs:schema>